.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: #1231029a;
  border: none;
  border-radius: 50%;
  color: #d3b404b3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top i {
  font-size: 20px;
}

/* Additional styles as needed */
